# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
coverage

# Config files
.eslintrc.cjs
babel.config.cjs
jest.config.js
vite.config.js

# Cache
.cache
.vite
.jest-cache

